<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 

"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias type="com.mix.unmanage.domain.entity.Menu" alias="Menu" />
		<typeAlias type="com.mix.unmanage.domain.entity.Tuser" alias="Tuser" />
		<typeAlias type="com.mix.unmanage.domain.entity.Agent" alias="Agent" />
		<typeAlias type="com.mix.unmanage.domain.entity.Goods" alias="Goods" />
		<typeAlias type="com.mix.unmanage.domain.entity.Acct" alias="Acct" />
		<typeAlias type="com.mix.unmanage.domain.entity.Card" alias="Card" />
		<typeAlias type="com.mix.unmanage.domain.entity.Order" alias="Order" />
		<typeAlias type="com.mix.unmanage.domain.entity.SysMsg" alias="SysMsg" />
	</typeAliases>
</configuration>