<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mix.unmanage.persistence.mapper.AcctMapper">

	<resultMap type="Acct" id="AcctMap">
		<result property="acctId" column="acct_id" />
		<result property="brandId" column="brand_id" />
		<result property="enableFlag" column="enable_flag" />
		<result property="createTime" column="create_time" />
		<result property="validDate" column="valid_date" />
		<result property="giftValidDate" column="gift_valid_date" />
		<result property="acctType" column="acct_type" />
		<result property="goodsId" column="goods_id" />
		<result property="bindLimit" column="bind_limit" />
		<result property="packageId" column="package_id" />
		<result property="packageName" column="package_name" />
		<result property="lastCallTime" column="last_call_time" />
		<result property="effTime" column="eff_time" />
		<result property="expTime" column="exp_time" />
		<result property="packageType" column="package_type" />
	</resultMap>

	<sql id="col">
		acct_id, brand_id, uid, pwd, md5pwd, balance, phone,
		giftbalance, enable_flag,
		create_time, valid_date, gift_valid_date,
		Reserve1, Reserve2, agent,
		first, taskname, acct_type, goods_id,
		bind_limit
	</sql>

	<select id="count" parameterType="Map" resultType="int">
		select
		count(1)
		from balance
		where brand_id='yx'
		<if test="uid!=null">and uid=#{uid}</if>
		<if test="phone!=null">and phone=#{phone}</if>
		<if test="startTime!=null"><![CDATA[and create_time>=#{startTime}]]></if>
		<if test="endTime!=null"><![CDATA[and create_time<=#{endTime}]]></if>
		<if test="agent!=null">and agent=#{agent}</if>
		<if test="taskname!=null">and taskname=#{taskname}</if>
		<if test="isvalid!=null and 'y'.toString()==isvalid"><![CDATA[and valid_date>=NOW()]]></if>
		<if test="isvalid!=null and 'n'.toString()==isvalid"><![CDATA[and valid_date<NOW()]]></if>
		<if test="first!=null">and first=#{first}</if>
		<if test="acctType!=null">and acct_type=#{acctType}</if>
		order by create_time desc
		<if test="offset!=null">
			limit #{offset},#{limit}
		</if>
	</select>

	<select id="list" parameterType="Map" resultMap="AcctMap">
		select
		<include refid="col" />
		from balance
		where brand_id='yx'
		<if test="uid!=null">and uid=#{uid}</if>
		<if test="phone!=null">and phone=#{phone}</if>
		<if test="startTime!=null"><![CDATA[and create_time>=#{startTime}]]></if>
		<if test="endTime!=null"><![CDATA[and create_time<=#{endTime}]]></if>
		<if test="agent!=null">and agent=#{agent}</if>
		<if test="taskname!=null">and taskname=#{taskname}</if>
		<if test="isvalid!=null and 'y'.toString()==isvalid"><![CDATA[and valid_date>=NOW()]]></if>
		<if test="isvalid!=null and 'n'.toString()==isvalid"><![CDATA[and valid_date<NOW()]]></if>
		<if test="first!=null">and first=#{first}</if>
		<if test="acctType!=null">and acct_type=#{acctType}</if>
		order by create_time desc
		<if test="offset!=null">
			limit #{offset},#{limit}
		</if>
	</select>

	<!-- 转移帐号 -->
	<insert id="transferAcct" parameterType="Map">
		INSERT
		INTO balance_his
		SELECT * FROM balance WHERE brand_id='yx' AND
		uid=#{uid}
	</insert>

	<!-- 删除帐号 -->
	<delete id="deleteAcct" parameterType="Map">
		delete
		from balance where
		brand_id='yx' and uid=#{uid}
	</delete>

	<!-- 查找帐号 -->
	<select id="selectAcct" parameterType="Map" resultMap="AcctMap">
		select
		t3.acct_id acct_id, t3.brand_id brand_id, t3.uid uid, t3.pwd pwd,
		t3.md5pwd md5pwd, t3.balance balance,
		t3.phone phone,
		t3.giftbalance
		giftbalance,
		t3.enable_flag enable_flag,
		t3.create_time create_time,
		t3.valid_date valid_date,
		t3.gift_valid_date gift_valid_date,
		t3.Reserve1 Reserve1,
		t3.Reserve2 Reserve2,
		t3.agent agent,
		t3.first
		first,
		t3.taskname taskname, t3.acct_type acct_type,
		t3.goods_id
		goods_id,
		t3.bind_limit bind_limit,
		t3.remarks remarks,
		t.package_id
		package_id,
		t.package_name package_name,
		t.last_call_time
		last_call_time,
		t.eff_time eff_time,
		t.exp_time exp_time,
		t.package_type
		package_type
		from
		(SELECT * FROM
		balance t1 WHERE
		t1.brand_id=#{brandId}
		AND
		uid=#{uid})
		t3 left join
		(SELECT * FROM
		time_acct t2 WHERE
		t2.brand_id=#{brandId}
		AND
		uid=#{uid})
		t on
		t3.brand_id=t.brand_id
		limit
		1
	</select>

	<!-- 编辑帐号 -->
	<update id="editAcct" parameterType="Map">
		UPDATE balance SET
		pwd=#{pwd},md5pwd=#{md5pwd},balance=#{balance},phone=#{phone},enable_flag=#{enableFlag}
		,valid_date=#{validDate},bind_limit=#{bindLimit},remarks=#{remarks}
		WHERE
		brand_id=#{brandId} AND
		uid=#{uid}
	</update>

	<!-- 编辑帐号包月信息 -->
	<update id="editTimeAcct" parameterType="Map">
		UPDATE time_acct SET
		exp_time=#{expTime}
		WHERE
		brand_id=#{brandId} AND
		uid=#{uid}
	</update>

	<select id="countPhone" parameterType="Map" resultType="int">
		select
		count(1)
		from balance
		where brand_id=#{brandId}
		and phone=#{phone} and acct_type='month'
	</select>

</mapper> 