<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mix.unmanage.persistence.mapper.OrderMapper">

	<resultMap type="Order" id="OrderMap">
		<result property="goodsId" column="goods_id" />
		<result property="goodsName" column="goods_name" />
		<result property="totalFlag" column="total_flag" />
	</resultMap>

	<sql id="col">
		id, orderid,
		brandid,uid,phone,goods_id,goods_name,price
		,paymoney,paytype,total_flag,time,status,paytime,cno,cps
	</sql>

	<!-- 根据brandid、卡号或者密码查询订单，了解卡密的去向 -->
	<select id="list4Card" parameterType="Map" resultMap="OrderMap">
		select
		<include refid="col" />
		from t_order
		where brandid=#{brandid}
		<if test="cno!=null">and cno=#{cno}</if>
		<if test="cps!=null">and cps=#{cps}</if>
		order by time desc

	</select>

</mapper> 